.contextMenu {
    position: relative;
    user-select: none;
    cursor: pointer;
}
.contextMenu:not(.opened) .contextMenuItems {
    display: none;
}
.contextMenu.opened {
    background-color: #999 !important;
}
.contextMenu.opened .contextMenuItems {
    min-width: calc(100% - 20px);
    margin: 10px 0;
    position: absolute;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;

    z-index: 40;
    animation-fill-mode: forwards;
}
.contextMenu.up.opened .contextMenuItems {
    animation: contextMenuOpenUp 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contextMenu.down.opened .contextMenuItems {
    animation: contextMenuOpenDown 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contextMenuItem {
    display: flex;
    font-size: 1em !important;
    padding: 5px;
    border-radius: 5px;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    gap: 5px;

    user-select: none;
}
.contextMenuItem.danger {
    color: red;
}
.contextMenuItem:hover {
    background-color: #aaa;
}
.contextMenuItem.danger:hover {
    background-color: #f00;
    color: white;
}

@keyframes contextMenuOpenUp {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: 0;
        opacity: 1;
    }
}
@keyframes contextMenuOpenDown {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: 0;
        opacity: 1;
    }
}