.loginPrompt {
    margin: 20vh auto !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 10px;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginPrompt .error {
    color: var(--primary-900);
    display: flex;
    gap: 10px;
    align-items: center;
}