.searchBar {
    left: 0px;
    top: 76px;
    z-index: 50;
    margin: 5px;
    outline: 0;
    position: sticky;
    width: calc(100% - 14px);
    border-radius: 5px;
    border: 2px solid #777;
}
.searchBarQuery {
    display: flex;
    align-items: center;

    background-color: #ccc;
    border-radius: 3px;
}
.searchBarQuery svg {
    width: 1.5em;
    margin-left: 5px;
    height: 1.5em;
}
.searchBarInput {
    width: calc(100% - 20px);
    background-color: transparent;
    
    outline: 0;
    border: 0;
    
    font-size: 24px;
    padding: 10px;
}
.searchBar .autocomplete {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px #777;
}
.searchBar .autocompleteItem {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;

    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.25em;
    gap: 5px;
}
.searchBar .autocompleteItem:focus-visible, .searchBar .autocompleteItem:hover {
    background-color: var(--primary-300);
    outline: none;
}
.searchBar .autocompleteItem:last-child {
    border-bottom: 0;
}
.searchBar .autocompleteItem svg {
    width: 1.25em;
    margin-left: 5px;
    height: 1.25em;
}