.journalActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    position: sticky;
    bottom: 0px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 800px) {
    .journalActions > * {
        margin-bottom: 10px
    }
    .journalActions .sharing {
        border-left: none !important;
        padding-left: 0 !important;
    }
    .journal .journalActions > h2, .journal .journalActions > .topics, .journal .journalActions > b {
        display: none;
    }
}

.journal.expanded .journalActions > h2, .journal.expanded .journalActions > .topics, .journal.expanded .journalActions > b {
    display: none;
}

@media screen and (min-width: 801px) {
    .journal:not(.expanded) .journalSvg {
        width: calc(100% - 340px);
    }
    .journal:not(.expanded) > h2, .journal:not(.expanded) > b, .journal:not(.expanded) > .topics {
        display: none;
    }
    .journal:not(.expanded) .journalActions {
        position: absolute;
        right: 0;
        top: 0;
        width: 320px;
        padding: 20px 10px;
        flex-direction: column;
        gap: 10px;
        border-radius: 0 10px 10px 0;
    }
    .journal:not(.expanded) .journalActions .author {
        flex-grow: 0;
        border-radius: 100px;
    }
    .journal:not(.expanded) .journalActions .sharing {
        flex-grow: 1;
        border-left: none;
        padding-left: 0;
        align-items: flex-end;
    }
}

.journalActions a:not(.tag) {
    text-decoration: none;
    color: black;
}
.journalActions .author {
    border: 1px solid #ccc;
    padding-left: 5px;
    margin-right: 10px;
    flex-grow: 1;
    color: #333;
    border-radius: 100px 10px 10px 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.journalActions .author .authorName {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}
.journalActions .author .authorPfp {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #aaa;
}
.journalActions .followBtn {
    height: 100%;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;

    float: right;
    padding: 0 10px;
    margin-left: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.journalActions .followBtn.following {
    background-color: #aaa;
}
.journalActions .sharing {
    border-left: 1px solid #ccc;
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.journalActions > .sharing > *:hover {
    background-color: #aaa;
}
.journalActions > .sharing > .disabled {
    color: #aaa;
    background-color: transparent !important;
    fill: #aaa;
    cursor: not-allowed
}
.journalActions > .sharing > .bookmarked {
    fill: var(--primary-900);
    color: var(--primary-900);
}
.journalActions > .sharing > * {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1.25em;
}