.journalActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    position: sticky;
    bottom: 0px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px 5px 0 0;
}
.journalActions a {
    text-decoration: none;
    color: black;
}
.journalActions .author {
    border: 1px solid #ccc;
    padding-left: 5px;
    margin-right: 10px;
    flex-grow: 1;
    color: #333;
    border-radius: 100px 10px 10px 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.journalActions .author .authorName {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}
.journalActions .author .authorPfp {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #aaa;
}
.journalActions .sharing {
    border-left: 1px solid #ccc;
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.journalActions > .sharing > *:hover {
    background-color: #aaa;
}
.journalActions > .sharing > * {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1.25em;
}