.journalEditor {
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    background-color: #ccc;
    width: 100%;
    height: calc(100% - 71px);
    box-sizing: border-box;

    overflow-x: hidden;
    position: absolute;
    top: 71px;
    left: 0;
}
.screenTooSmall {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(200, 200, 200, 100);
}
@media screen and (max-width: 800px) {
    .journalEditor {
        height: calc(100% - 141px);
        overflow: hidden;
    }
    .screenTooSmall {
        display: flex;
    }
}
.journalEditor .journalCanvas {
    background-color: white;
}
.journalEditor .journalCanvas canvas {
    height: 100%;
}
.journalEditor .journalCanvas, .journalEditor .journalCanvas * {
    user-select: none;
}
.journalEditor button.addPage {
    width: 100%;
    height: 25vh;
    outline: 0;
    font-size: 1.5em;
    font-family: inherit;
    cursor: pointer;
    border: 0;
    background-color: #ccc;
    transition: background-color 0.1s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.journalEditor button.addPage svg {
    font-size: 1.75em;
}
.journalEditor button.addPage:hover {
    background-color: #eee;
}
.journalToolbar {
    position: sticky;
    top: 0px;
    height: 50px;
    z-index: 96;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: left;
    background-color: #ddd;
    border-bottom: 2px solid #ccc;
}
.journalToolbar .divider:after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    background-color: #ccc;
}
.journalToolbar .growableDivider {
    flex-grow: 1;
    border-right: 1px solid #ccc;
}
.journalToolbar .toolbarBtn svg {
    width: 30px;
    height: 30px;
}
.journalToolbar .toolbarBtn.disabled {
    cursor: not-allowed;
}
.journalToolbar .toolbarBtn.disabled svg {
    opacity: 0.5;
}
.journalToolbar .toolbarBtn {
    height: calc(100% - 20px);
    cursor: pointer;
    padding: 10px;
    border-right: 1px solid #ccc;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.journalToolbar .toolbarBtn:not(.disabled):not(.active):hover {
    background-color: #aaa;
}
.journalToolbar .toolbarBtn.active {
    background-color: #777;
    color: white;
}
.journalToolbar .toolbarBtn.active img {
    filter: invert();
}
.journalToolbar .postBtn {
    background-color: var(--secondary);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.17em;
}
.journalToolbar .postBtn:hover {
    background-color: var(--secondary-700) !important;
}