.profileHeader {
    position: relative;
    height: 350px;
}
.profileHeader .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #bbb;
}
.profileHeader .pfp {
    position: absolute;
    background-color: #777;
    border: 5px solid white;
    border-radius: 100%;
    top: calc(140px - calc(min(15vw, 125px) / 2));
    width: min(15vw, 125px);
    height: min(15vw, 125px);
    left: 5vw;
}
.profileHeader .bio {
    position: absolute;
    color: black;
    top: calc(90px + min(15vw, 125px));
    left: 5vw;
    width: calc(100% - 10vw);
    border-radius: 5px;
    padding: 10px;
}
.profileHeader .bio h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}
.profileHeader .bio h1 .username {
    font-size: 0.5em;
    margin-left: 10px;
    color: #aaa;
}
.profileHeader .actionBtn {
    text-decoration: none;
    color: white;
    background-color: var(--secondary);
    position: absolute;
    top: calc(140px - 15px);
    right: 5vw;
    border-radius: 40px;
    padding: 15px;
    transition: background-color 0.2s;

    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.profileHeader .actionBtn:hover {
    background-color: var(--secondary-500);
}
.actionBtn.following {
    background-color: #777;
}
.actionBtn.following:hover {
    background-color: var(--primary-900);
}
.profileHeader .actionBtn svg {
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 600px) {
    .profileHeader .actionBtn span {
        display: none;
    }
}

.journals {
    position: relative;
    min-height: calc(100vh - 350px - 71px);
}