.journal {
    background-color: #ccc;
    text-decoration: none;
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: calc(100% - 60px);
    position: relative;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.journal.deleted {
    display: none;
}
.journal h2 {
    margin-top: 0;
    margin-bottom: 5px;
    width: 100%;
    overflow-wrap: break-word;
    
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.journal .remix {
    font-weight: bold;
    text-decoration: none;
    color: black;
    overflow-wrap: break-word;
    border: 1px solid #777;
    background-color: var(--primary);
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.journal h2 .remix {
    margin-left: 10px;
    display: inline-block;
}
.journal h2 .remix svg {
    vertical-align: text-bottom;
    margin: 0 5px;
}
.journal h2 .remix:hover svg {
    /* animate on hover */
    animation: rotate 0.5s;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.journal .topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px 0;
}
.journal:not(.expanded) {
    cursor: pointer;
}
.journal:not(.expanded) .journalSvg {
    height: 50vh;
    position: relative;
    overflow: hidden;
}
.journal:not(.expanded) .journalSvg:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0), 95%, rgba(0,0,0, 0.25) 100%);
    width: 100%;
    height: 100%;

}
.journal .journalSvg {
    position: relative;
    min-height: 300px;
}
.journal .journalSvg img {
    background-color: #fff;
    width: 100% !important;
    height: unset !important;
}